################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToyRobot/.vs
/ToyRobot/ToyRobotApp/bin
/ToyRobot/ToyRobotApp/obj
/ToyRobot/ToyRobotLibrary/bin
/ToyRobot/ToyRobotLibrary/obj
/ToyRobot/ToyRobotTest/bin
/ToyRobot/ToyRobotTest/obj
